{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Usuário</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <div class="container"> 
        <div class="content first-content">
            <div class="first-column">
                <h2 class="title title-primary">bem-vindo de volta!</h2>
                <p class="description description-primary">Para continuar conectado conosco</p>
                <p class="description description-primary">por favor, faça login com suas informações pessoais</p>
                <button id="signin" class="btn btn-primary">entrar</button>
            </div>    
            <div class="second-column">
                <h2 class="title title-second">Cadastro da Empresa</h2>
                <p class="description description-second">Preencha com os dados da sua empresa:</p>
                <form method="POST" action="{% url 'core:auth' %}">
                    {% csrf_token %}
                    
                    <label class="label-input" for="empresa_email">
                        <i class="far fa-envelope icon-modify"></i>
                        <input type="email" id="empresa_email" name="email" placeholder="Email" required>
                    </label>
                    {% if form_cadastro.email.errors %}
                        <div class="error-message">{{ form_cadastro.email.errors.0 }}</div>
                    {% endif %}
                    
                    <label class="label-input" for="empresa_razao_social">
                        <i class="fas fa-id-badge icon-modify"></i>
                        <input type="text" id="empresa_razao_social" name="razao_social" placeholder="Razão Social" required>
                    </label>
                    {% if form_cadastro.razao_social.errors %}
                        <div class="error-message">{{ form_cadastro.razao_social.errors.0 }}</div>
                    {% endif %}
                
                    <label class="label-input" for="empresa_cnpj">
                        <i class="fas fa-id-card icon-modify"></i>
                        <input type="text" id="empresa_cnpj" name="cnpj" placeholder="CNPJ" required>
                    </label>
                        {% if form_cadastro.cnpj.errors %}
                            <div class="error-message">{{ form_cadastro.cnpj.errors.0 }}</div>
                        {% endif %}
                        
                    <label class="label-input" for="empresa_telefone">
                        <i class="fas fa-phone icon-modify"></i>
                        <input type="tel" id="empresa_telefone" name="telefone" placeholder="Telefone" required>
                    </label>
                
                    <label class="label-input" for="empresa_endereco">
                        <i class="fas fa-map-marker-alt icon-modify"></i>
                        <input type="text" id="empresa_endereco" name="endereco" placeholder="Endereço" required>
                    </label>
                
                    <label class="label-input" for="empresa_senha">
                        <i class="fas fa-lock icon-modify"></i>
                        <div class="password-container">
                            <input type="password" id="empresa_senha" name="senha" placeholder="Senha" required>
                        </div>
                        {% if form.senha.errors %}
                            <div class="error">{{ form.senha.errors.0 }}</div>
                        {% endif %}
                    </label>
                
                    <button class="btn btn-second">Cadastrar</button>
                </form>
                
                
            </div>
        </div>
        <div class="content second-content">
            <div class="first-column">
                <h2 class="title title-primary">olá, amigo!</h2>
                <p class="description description-primary">Insira suas informações pessoais</p>
                <p class="description description-primary">e comece sua jornada conosco</p>
                <button id="signup" class="btn btn-primary">cadastrar</button>
            </div>
            <div class="second-column">
                <h2 class="title title-second">entrar como usuário</h2>
                <div class="social-media">
                    <ul class="list-social-media">
                        <a class="link-social-media" href="#">
                            <li class="item-social-media">
                                <i class="fab fa-facebook-f"></i>
                            </li>
                        </a>
                        <a class="link-social-media" href="#">
                            <li class="item-social-media">
                                <i class="fab fa-google-plus-g"></i>
                            </li>
                        </a>
                        <a class="link-social-media" href="#">
                            <li class="item-social-media">
                                <i class="fab fa-linkedin-in"></i>
                            </li>
                        </a>
                    </ul>
                </div>

                <p class="description description-second">ou use sua conta de e-mail:</p>
                <form method="POST" action="{% url 'core:auth' %}">
                    {% csrf_token %}
                
                    <!-- Campo de E-mail -->
                    <label class="label-input" for="email">
                        <i class="far fa-envelope icon-modify"></i>
                        <input type="email" name="email" placeholder="E-mail" required>
                        {% if form_login.email.errors %}
                            <div class="error">{{ form_login.email.errors.0 }}</div>
                        {% endif %}
                    </label>
                
                    <!-- Campo de Senha -->
                    <label class="label-input" for="password">
                        <i class="fas fa-lock icon-modify"></i>
                        <div class="password-container">
                            <input type="password" name="password" id="password" placeholder="Senha" required>
                            {% if form_login.password.errors %}
                                <div class="error">{{ form_login.password.errors.0 }}</div>
                            {% endif %}
                            <i class="fas fa-eye" id="eye-icon"></i>
                        </div>
                    </label>
                
                    <!-- Link para recuperação de senha -->
                    <a class="password" href="#">Esqueceu sua senha?</a>
                
                    <!-- Botão de Login -->
                    <button class="btn btn-second">Entrar</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/format.js' %}"></script>
    <script src="{% static 'js/password-toggle.js' %}"></script>
</body>
</html>