<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'caminho/para/seu/estilo.css' %}">  <!-- Se você usar CSS -->
</head>
<body>
    <div class="wrapper"> 
        <main id="grad3" style="text-align:center;">   
            <div class="container">
                <div class="login containercentro">
                    <h3>Acessar</h3>
                    <form method="post" action="{% url 'core:login' %}">
                        {% csrf_token %}
                        {% if error_message %} 
                            <p style="color: red;">{{ error_message }}</p>
                        {% endif %}
                        <input type="email" placeholder="Email" name="email" class="inputlogin" required>
                        <br><br>
                        <input type="password" placeholder="Senha" name="password" class="inputlogin" required>
                        <br><br>
                        <button class="buttonenviar" type="submit">Enviar</button>
                        <br><br>
                    </form>
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <a href="{% url 'core:cadastro' %}">
                            <button type="button" class="buttoncadastro">Cadastre-se</button>
                        </a>
                    </div>
                </div> 
            </div>
        </main>
    </div>
</body>
</html>
