{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Farmacompare</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav>
            <a href="{% url 'core:index' %}">
                <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo">
            </a>
            <div class="search-bar">
                <button type="button" id="search-icon" onclick="searchProducts(event)">
                    <i class="bi bi-search"></i> 
                </button>
                <input type="text" id="search-input" placeholder="Buscar e comparar..." oninput="searchProducts(event)">
                <span class="clear-icon" id="clear-search" onclick="clearSearch()">&times;</span>
            </div>
            
            <div id="search-results-container" style="display: none;"></div>
            
    
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <button class="btn-nav" id="user-menu-button">
                        <a href="#" class="nav-link" aria-label="Perfil de {{ user.username }}">
                            <i class="bi bi-person-circle"></i> {{ user.username }}
                        </a>
                    </button>
                    <div class="sidebar-menu" id="sidebar-menu">
                        <ul>
                            <li><a href="{% url 'core:main' %}"><i class="bi bi-person-circle"></i> Ver Minha Conta</a></li>
                            <li><a href="{% url 'core:card' %}"><i class="bi bi-arrow-up-circle"></i> Subir Plano</a></li>
                            <li><a href="{% url 'core:logout' %}"><i class="bi bi-box-arrow-right"></i> Sair</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    
    <div class="banner">
        <img src="https://storage.googleapis.com/a1aa/image/9R3PBZonyWbIOBAOlvaPWGMEQKUhZTXGkMOEpe40vuVzuY0JA.jpg"
             alt="Banner promocional">
    </div>

    {% if user.is_authenticated %}
    <div class="consultas-info">
        <p>Consultas restantes: 
            {% if consultas_restantes == 999 %}
                Ilimitado
            {% else %}
                {{ consultas_restantes }}
            {% endif %}
        </p>
    </div>
    {% endif %}

    <div class="product-gallery">
        <div class="product-container">
            {% for product in produtos_dsp %}
            <div class="product-card">
                <img src="{{ product.images }}" alt="{{ product.name }}">
                <p>{{ product.name }}</p>
                <p class="price">Preço: R$ {{ product.price }}</p>
                <p>Farmácia: {{ product.nome_farmacia }}</p>
            </div>
            {% empty %}
            <p>Nenhum produto encontrado para a dsp.</p>
            {% endfor %}
        </div>
    </div>
    
    <div class="product-gallery">
        <div class="product-container">
            {% for product in produtos_paguemenos %}
                <div class="product-card">
                    <img src="{{ product.images }}" alt="{{ product.name }}">
                    <p>{{ product.name }}</p>
                    <p class="price">Preço: R$ {{ product.price }}</p>
                    <p>Farmácia: {{ product.nome_farmacia }}</p>
                </div>
            {% empty %}
                <p>Nenhum produto encontrado para a Pague Menos.</p>
            {% endfor %}
        </div>
    </div>

    <div class="farmacias-parceiras">
        <h2>Farmácias Parceiras</h2> 
        <div class="farmacias-container">
            <div class="farmacia">
                <img src="{% static 'img/ultrafarma.png' %}">
            </div>
            <div class="farmacia">
                <img src="{% static 'img/precopopular.png' %}">
            </div>
            <div class="farmacia">
                <img src="{% static 'img/paguemenos.png' %}">
            </div>
            <div class="farmacia">
                <img src="{% static 'img/lecer.png' %}">
            </div>
            <div class="farmacia">
                <img src="{% static 'img/dsp.png' %}">
            </div>
            <div class="farmacia">
                <img src="{% static 'img/ctr.png' %}">
            </div>
            <div class="farmacia">
                <img src="{% static 'img/pacheco.png' %}">
            </div>
            <div class="farmacia">
                <img src="{% static 'img/lecer.png' %}">
            </div>
        </div>
    </div>
    
    <footer class="footer">
        <div class="contact-info">
            <div>
                <h3>Contatos</h3>
                <p>info@seusite.com</p>
                <p>(11) 1234-5678</p>
            </div>
            <div>
                <h3>Localização</h3>
                <p>Rua Pequena, 1301, São Paulo</p>
                <p>Brasil</p>
            </div>
            <div>
                <h3>Horário de funcionamento</h3>
                <p>Abertura: 12:00</p>
                <p>Fechamento: 23:00</p>
            </div>
        </div>
        <div class="subscribe">
            <input type="email" placeholder="Digite seu email">
            <button>Inscrever-se</button>
        </div>
        <p>© Todos os direitos reservados, FarmaCompare</p>
    </footer>
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/dropdown.js' %}"></script>
    <script src="{% static 'js/product-slider.js' %}"></script>
    <script src="{% static 'js/search.js' %}"></script>
</body>
</html>
    



