{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparar Produto</title>
    <link rel="icon" href="{% static 'img/search.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
</head>
<body>
    <div class="product-container">
        <div class="product-header">
            <h1 class="product-title">{{ produto.name }}</h1>
            <p class="farmacia-name">{{ produto.nome_farmacia }}</p>
        </div>
        
        <div class="product-details">
            <div class="product-image">
                <img src="{{ produto.images }}" alt="{{ produto.name }}">
            </div>
            <div class="product-info">
                {% if produto.price_old and produto.price_old != produto.price %}
                <p class="price_old">R$ {{ produto.price_old }}</p>
                {% endif %}
                <p class="price">R$ {{ produto.price }}</p>
                <p><strong>Marca:</strong> {{ produto.brand }}</p>
                <p><strong>Descrição:</strong> {{ produto.description }}</p>
                {% if produto.substance != "" %}
                <p><strong>Substância:</strong> {{ produto.substance }}</p>
                {% endif %}
            </div>
        </div>
        
        <div class="other-pharmacies"> 
            <h2>Comparar Preços em Outras Farmácias</h2>
            <div class="other-pharmacies-list">
                {% for farmacia in outras_farmacias %}
                    <div class="other-pharmacy">
                        <div class="pharmacy-logo">
                            {% if farmacia.nome_farmacia == "Ultrafarma" %}
                                <img src="{% static 'img/ultrafarma.png' %}" alt="Logo Ultrafarma">
                            {% elif farmacia.nome_farmacia == "Preço Popular" %}
                                <img src="{% static 'img/precopopular.png' %}" alt="Logo Preço Popular">
                            {% elif farmacia.nome_farmacia == "Pague Menos" %}
                                <img src="{% static 'img/paguemenos.png' %}" alt="Logo Pague Menos">
                            {% elif farmacia.nome_farmacia == "Lecer" %}
                                <img src="{% static 'img/lecer.png' %}" alt="Logo Lecler">
                            {% elif farmacia.nome_farmacia == "Drogaria São Paulo" %}
                                <img src="{% static 'img/dsp.png' %}" alt="Logo Drogaria São Paulo">
                            {% elif farmacia.nome_farmacia == "Drogaria Catarinense" %}
                                <img src="{% static 'img/ctr.png' %}" alt="Logo Droga Raia">
                            {% elif farmacia.nome_farmacia == "Drogarias Pacheco" %}
                                <img src="{% static 'img/pacheco.png' %}" alt="Logo Pacheco">
                            {% elif farmacia.nome_farmacia == "Extrafarma" %}
                                <img src="{% static 'img/extrafarma.png' %}" alt="Logo Extrafarma">
                            {% endif %}
                        </div>
                        <div>
                            <h3>{{ farmacia.nome_farmacia }}</h3>
                            <p><strong>Preço:</strong> R$ {{ farmacia.price }}</p>
                            <a href="/produtos/{{ farmacia.ean }}/{{ farmacia.nome_farmacia|urlencode }}/" class="view-product-link">Ver Produto</a>
                        </div>
                    </div>
                {% empty %}
                    <p>Nenhuma outra farmácia encontrada.</p>
                {% endfor %}
            </div>
        </div>
        
</body>
</html>
